<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/styles.css" rel="stylesheet" type="text/css">
    <script src="../../Scripts/jquery-1.10.2.min.js"></script>
    <script src="../../Scripts/cc.main.js"></script>
</head>
<body>
    <div class="contentDiv">
        @RenderBody()
    </div>
</body>
</html>
