/packages/EntityFramework.6.0.0-alpha3/Content/App.config.transform
/packages/EntityFramework.6.0.0-alpha3/Content/Web.config.transform
/packages/EntityFramework.6.0.0-alpha3/EntityFramework.6.0.0-alpha3.nupkg
/packages/EntityFramework.6.0.0-alpha3/lib/net40/EntityFramework.SqlServer.dll
/packages/EntityFramework.6.0.0-alpha3/lib/net40/EntityFramework.SqlServer.xml
/packages/EntityFramework.6.0.0-alpha3/lib/net40/EntityFramework.dll
/packages/EntityFramework.6.0.0-alpha3/lib/net40/EntityFramework.xml
/packages/EntityFramework.6.0.0-alpha3/lib/net45/EntityFramework.SqlServer.dll
/packages/EntityFramework.6.0.0-alpha3/lib/net45/EntityFramework.SqlServer.xml
/packages/EntityFramework.6.0.0-alpha3/lib/net45/EntityFramework.dll
/packages/EntityFramework.6.0.0-alpha3/lib/net45/EntityFramework.xml
/packages/EntityFramework.6.0.0-alpha3/tools/EntityFramework.PS3.psd1
/packages/EntityFramework.6.0.0-alpha3/tools/EntityFramework.PowerShell.Utility.dll
/packages/EntityFramework.6.0.0-alpha3/tools/EntityFramework.PowerShell.dll
/packages/EntityFramework.6.0.0-alpha3/tools/EntityFramework.psd1
/packages/EntityFramework.6.0.0-alpha3/tools/EntityFramework.psm1
/packages/EntityFramework.6.0.0-alpha3/tools/about_EntityFramework.help.txt
/packages/EntityFramework.6.0.0-alpha3/tools/init.ps1
/packages/EntityFramework.6.0.0-alpha3/tools/install.ps1
/packages/EntityFramework.6.0.0-alpha3/tools/migrate.exe
