body {
  background-color: threedshadow;
  font-family: Comic Sans MS; }

.contentDiv {
  background-color: #F5F5F5;
  border-color: #808080;
  border-radius: 10px 10px 10px 10px;
  border-style: solid;
  border-width: 2px;
  height: 300px;
  margin: 30px auto auto;
  padding: 20px;
  width: 250px;
  overflow: auto; }

.button {
  height: 25px;
  margin-top: 20px;
  width: 100px;
  border-radius: 40px 10px 40px 10px;
  background-color: #8FBC8F;
  font-family: Comic Sans MS; }

input {
  border-radius: 5px 5px 5px 5px;
  float: right;
  width: 150px; }

label {
  float: left; }

.textAlignCenter {
  text-align: center; }

.marginTop20px {
  margin-top: 20px;
  overflow: hidden; }

.mainMenu {
  padding-left: 0;
  margin-bottom: 0px; }
  .mainMenu li {
    display: inline-block;
    background-color: activeborder;
    text-align: center;
    width: 70px;
    word-wrap: break-word;
    border-right: 2px solid #D3D3D3;
    border-radius: 0px 7px 0px 0px; }

.activeMenuItem {
  background-color: #F5F5F5 !important; }

.beverageButton {
  padding: 1px;
  width: 65px;
  height: 65px;
  margin: 5px;
  border-radius: 7px 7px 7px 7px; }

.beverageImage {
  padding: 1px;
  width: 35px;
  height: 35px;
  border-radius: 5px 5px 5px 5px; }

.selectedBeverage {
  border-color: #008000;
  border-style: solid;
  border-width: 3px; }

